html, body{
    height: 100%;
}
body{
    margin: 0;
    background-color: #a8a7a7;
    position: relative;
}

/* 飞机样式 */
.plane{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #e91515;

    position: absolute;
    left: 683px;
    bottom: 50px;
    transform: translate(-50%, -50%);
}

/* 子弹样式 */
.bullet{
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #e91515;

    position: absolute;
    left: 683px;
    bottom: 200px;
    transform: translate(-50%, -50%);
}

/* 敌机样式 */
.enemy{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #e91515;

    position: absolute;
    transform: translate(-50%, -50%);
}